.main-bg {
  background-color: #060b2dff;
}

.movie-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.movie-poster {
  height: 300px;
  object-fit: cover;
}

.star-rating {
  direction: rtl;
  display: inline-block;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
  font-size: 24px;
  padding: 0 2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
  color: #ffc107;
}
