.custom-header {
  background: linear-gradient(135deg, #000000, #9c0b23);
  color: white;
}

.btn-login {
  background-color: #1c1b1d;
}

.btn-login:hover {
  background-color: #8d1111; 
}

.btn-signup {
  background-color: #1c1b1d;
}

.btn-signup:hover {
  background-color: #8d1111; 
}
